In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
path = 'DOB_Complaints_Received_20241022.csv'

In [9]:
complaints = pd.read_csv(path)

C:\Users\Soe-Myat\AppData\Local\Temp\ipykernel_24672\3939107886.py:1: DtypeWarning: Columns (5,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv(path)

In [10]:
complaints = pd.read_csv(path)

C:\Users\Soe-Myat\AppData\Local\Temp\ipykernel_24672\3939107886.py:1: DtypeWarning: Columns (5,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv(path)

In [11]:
complaints_df = pd.read_csv(path)

C:\Users\Soe-Myat\AppData\Local\Temp\ipykernel_24672\2340683946.py:1: DtypeWarning: Columns (5,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints_df = pd.read_csv(path)

In [18]:
complaints.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,3,MAN.,01/04/1989,I2,01/03/1989,2024-10-21
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,1,MAN.,01/04/1989,I2,01/04/1989,2024-10-21
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,411,NaN,45,QNS.,02/21/1996,C2,03/27/1989,2024-10-21
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,101,NaN,31,MAN.,01/06/1989,I2,01/04/1989,2024-10-21
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,106,NaN,46,MAN.,01/06/1989,A1,01/04/1989,2024-10-21

In [19]:
complaints.Status

0          CLOSED
1          CLOSED
2          CLOSED
3          CLOSED
4          CLOSED
            ...
2900477    CLOSED
2900478    CLOSED
2900479    CLOSED
2900480    CLOSED
2900481    CLOSED
Name: Status, Length: 2900482, dtype: object

In [20]:
complaints.Status.value_counts()

Status
CLOSED    2874315
ACTIVE      26167
Name: count, dtype: int64

In [22]:
# subsection of the DataFrame - only using active complaints , think of it like a filter
# List comprehensions are back. 
# Two dimensions - Two sets of brackets
active_complaints_df = complaints_df[[ complaint for complaint in complaints_df.Status == 'ACTIVE']]

In [23]:
active_complaints_df

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
305840,4164903,ACTIVE,04/22/2003,37-06,82 STREET,11372.0,4545554,403.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
314614,1110389,ACTIVE,07/31/2003,1313,ST NICHOLAS AVENUE,10033.0,1063555,112.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
314661,5040821,ACTIVE,09/06/2003,330,FINGERBOARD ROAD,10305.0,5045459,502.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
333897,4173348,ACTIVE,08/22/2003,2304,36 AVENUE,11106.0,4004237,401.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
337375,3117206,ACTIVE,08/11/2003,45,GARNET STREET,11231.0,3008170,306.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900432,3965417,ACTIVE,06/19/2024,1165,ELTON STREET,11239,3398621,305,NaN,6M,ELEVR,NaN,NaN,NaN,2024-10-21
2900434,4966349,ACTIVE,07/20/2024,60-28,80 AVENUE,11385,4436554,405,NaN,45,Q-L,09/12/2024,C3,09/12/2024,2024-10-21
2900435,3971680,ACTIVE,08/07/2024,1165,ELTON STREET,11239,3398621,305,NaN,6M,ELEVR,NaN,NaN,NaN,2024-10-21
2900441,2400076,ACTIVE,09/06/2024,500,EAST 166 STREET,10456,2001268,203,NaN,29,BRONX,09/27/2024,D1,09/27/2024,2024-10-21
2900444,4972355,ACTIVE,09/16/2024,60-28,80 AVENUE,11385,4436554,405,NaN,45,Q-L,NaN,NaN,NaN,2024-10-21

In [24]:
display(active_complaints_df)

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
305840,4164903,ACTIVE,04/22/2003,37-06,82 STREET,11372.0,4545554,403.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
314614,1110389,ACTIVE,07/31/2003,1313,ST NICHOLAS AVENUE,10033.0,1063555,112.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
314661,5040821,ACTIVE,09/06/2003,330,FINGERBOARD ROAD,10305.0,5045459,502.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
333897,4173348,ACTIVE,08/22/2003,2304,36 AVENUE,11106.0,4004237,401.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
337375,3117206,ACTIVE,08/11/2003,45,GARNET STREET,11231.0,3008170,306.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900432,3965417,ACTIVE,06/19/2024,1165,ELTON STREET,11239,3398621,305,NaN,6M,ELEVR,NaN,NaN,NaN,2024-10-21
2900434,4966349,ACTIVE,07/20/2024,60-28,80 AVENUE,11385,4436554,405,NaN,45,Q-L,09/12/2024,C3,09/12/2024,2024-10-21
2900435,3971680,ACTIVE,08/07/2024,1165,ELTON STREET,11239,3398621,305,NaN,6M,ELEVR,NaN,NaN,NaN,2024-10-21
2900441,2400076,ACTIVE,09/06/2024,500,EAST 166 STREET,10456,2001268,203,NaN,29,BRONX,09/27/2024,D1,09/27/2024,2024-10-21
2900444,4972355,ACTIVE,09/16/2024,60-28,80 AVENUE,11385,4436554,405,NaN,45,Q-L,NaN,NaN,NaN,2024-10-21

In [25]:
active_complaints_df[100:120]

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
840976,1139915,ACTIVE,04/09/2005,208,EAST 82 STREET,10028.0,1048578,108.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
850592,1140080,ACTIVE,04/12/2005,210,3 AVENUE,10003.0,1017882,106.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
853351,1123667,ACTIVE,06/03/2004,217,EAST 85 STREET,10028.0,1085217,108.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
863250,1260937,ACTIVE,07/17/2009,37,CROSBY STREET,10013.0,1076935,102.0,NaN,2F,ERT,07/30/2009,R8,07/30/2009,2024-10-21
863546,3313952,ACTIVE,07/31/2009,48,NORTH 1 STREET,11211.0,3335757,301.0,NaN,2F,ERT,07/31/2009,RN,07/31/2009,2024-10-21
863664,3312421,ACTIVE,07/18/2009,722,METROPOLITAN AVENUE,11211.0,3338159,301.0,NaN,2F,ERT,07/31/2009,R8,07/30/2009,2024-10-21
863673,3314006,ACTIVE,07/31/2009,55,HEYWARD STREET,11211.0,3060964,301.0,NaN,2F,ERT,07/31/2009,RA,07/31/2009,2024-10-21
863675,3314004,ACTIVE,07/31/2009,53,LYNCH STREET,11206.0,3061137,301.0,NaN,2F,ERT,05/22/2012,R8,04/02/2010,2024-10-21
863681,3314010,ACTIVE,07/31/2009,572,GRAND STREET,11211.0,3069511,301.0,NaN,2F,ERT,07/31/2009,RA,07/31/2009,2024-10-21
863682,3314011,ACTIVE,07/31/2009,572,GRAND STREET,11211.0,3069511,301.0,NaN,2F,ERT,07/31/2009,RM,07/31/2009,2024-10-21
863683,3314012,ACTIVE,07/31/2009,572,GRAND STREET,11211.0,3069511,301.0,NaN,2F,ERT,07/31/2009,RH,07/31/2009,2024-10-21
865077,3154881,ACTIVE,04/17/2005,986,EAST 58 STREET,11234.0,3350500,318.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
866158,1140521,ACTIVE,04/19/2005,9,AVENUE B,10009.0,1004567,103.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
867678,1262366,ACTIVE,08/04/2009,700,BROADWAY,10003.0,1008789,102.0,NaN,2F,ERT,08/04/2009,R8,08/04/2009,2024-10-21
869026,1124267,ACTIVE,06/14/2004,14,WEST 71 STREET,10023.0,1028597,107.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
876962,3315011,ACTIVE,08/10/2009,405,SOUTH 3 STREET,11211.0,3414014,301.0,NaN,2F,FEU,04/06/2010,RM,04/03/2010,2024-10-21
891567,1141037,ACTIVE,04/26/2005,28,BOND STREET,10012.0,1008497,102.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
895084,1141051,ACTIVE,04/27/2005,58,WEST 38 STREET,10018.0,1015983,105.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
896716,1141240,ACTIVE,04/29/2005,33,GREENWICH STREET,10004.0,1000045,101.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
908565,1141556,ACTIVE,05/04/2005,601,2 AVENUE,10016.0,1020093,106.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21

In [34]:
elev_accidents_df = complaints_df[[complaint for complaint in complaints_df['Complaint Category'] == '81']]

In [35]:
display(elev_accidents_df)

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
393287,4116978,CLOSED,10/13/2000,136-50,ROOSEVELT AVENUE,11354,4113551,407,NaN,81,ELEVR,11/06/2000,A1,10/13/2000,2024-10-21
393419,1092558,CLOSED,12/06/2001,151,WEST 34 STREET,10001,1015219,105,NaN,81,ELEVR,12/07/2001,I2,12/06/2001,2024-10-21
394532,1106878,CLOSED,04/28/2003,2411,8 AVENUE,10027,1084065,110,NaN,81,ELEVR,05/01/2003,A1,04/28/2003,2024-10-21
394679,1106850,CLOSED,04/28/2003,151,WEST 34 STREET,10001,1015219,105,NaN,81,ELEVR,05/01/2003,A1,04/28/2003,2024-10-21
394748,1099845,CLOSED,08/19/2002,60,EAST 54 STREET,10022,1035733,105,NaN,81,ERT,08/21/2002,A1,08/19/2002,2024-10-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693654,1531300,CLOSED,12/20/2019,350,5 AVENUE,10118.0,1015862,105.0,NaN,81,ELEVR,12/20/2019,I2,12/20/2019,2024-10-21
2724707,3924595,CLOSED,08/29/2023,460,FLUSHING AVENUE,11205.0,3348619,303.0,NaN,81,ELEVR,08/30/2023,A8,08/29/2023,2024-10-21
2739329,1618416,CLOSED,09/19/2022,200,LIBERTY STREET,10281.0,1000057,101.0,NaN,81,ELEVR,09/20/2022,A8,09/19/2022,2024-10-21
2780291,3935696,CLOSED,11/17/2023,114,ALBEMARLE ROAD,11218.0,3124505,312.0,NaN,81,ELEVR,11/20/2023,I2,11/17/2023,2024-10-21
2847574,1668776,CLOSED,05/24/2024,392,CENTRAL PARK WEST,10025.0,1055287,107,NaN,81,ELEVR,05/24/2024,I2,05/24/2024,2024-10-21

In [40]:
#tolist () can convert a pandas list into a python list
street_names = elev_accidents_df['House Street'].tolist()
house_numbers =  elev_accidents_df['House Number'].tolist()
print(house_numbers)

['136-50', '151', '2411', '151', '60', '10307', '136-50', '452', '212', '115', '200', '842', '529', '94', '65', '125', '151', '2895', '151', '2655', '3410', '246', '151', '1439', '271', '45', '5102', '151', '136-50', '441', '112', '303', '1401', '136-50', '136-50', '136-50', '216', '136-50', '39', '3041', '450', '441', '380', '1', '32', '10', '151', '3340', '441', '136-50', '124-21', '1745', '34-05', '868', '622', '274', '12421', '441', '1535', '139-05', '2190', '830', '830', '2307', '191', '77', '575', '4149', '575', '441', '161-10', '35', '1439', '1409', '136-50', '322', '1409', '441', '866', '151', '20', '2260', '2170', '1735', '451', '2655', '40', '286', '463', '151', '136-50', '332', '1815', '1555', '136-50', '530', '1998', '2950', '116', '151', '4', '151', '370', '2225', '441', '151', '781', '151', '135', '151', '395', '1830', '157', '53', '441', '1825', '136-50', '21', '200', '1889', '136-50', '430', '189', '441', '14', '1998', '151', '151', '36', '1420', '1420', '3250', '2187', '96-05', '2307', '151', '1411', '1315', '33', '136-20', '12', '341', '200', '201', '1455', '2999', '1385', '1154', '441', '441', '441', '1151', '64', '441', '130', '1', '441', '215', '177', '953', '65', '441', '80', '270-05', '459', '132', '214', '506', '1555', '1158', '1', '2532', '260-19', '40-20', '441', '625', '5400', '2160', '200', '1000', '491', '220', '1451', '422', '1170', '589', '67', '2975', '1000', '3050', '2655', '4140', '22', '66-26', '1000', '112', '20', '11', '953', '90-15', '270', '2999', '1992', '1970', '159-26', '1010', '441', '1409', '15', '136-50', '46', '300', '428', '156', '65', '148', '441', '1515', '312', '441', '2655', '90-15', '46', '1100', '1441', '154', '100', '2991', '25', '360', '1734', '2307', '1132', '20', '40', '136-50', '190', '140', '83-60', '151', '5400', '466', '341', '17', '96-05', '441', '153', '2375', '1241', '23-25', '32', '44', '130', '2130', '151', '270', '699', '125', '422', '101', '36-17', '66-26', '405', '550', '1409', '151', '151', '309', '160', '1135', '2', '441', '441', '1998', '225', '710', '1409', '760', '136-50', '1175', '100', '265-31', '441', '151', '420', '799', '840', '2505', '1', '132-35', '243', '151', '147', '1000', '109-20', '115', '2395', '130', '30-15', '4', '102', '123', '136-50', '136-50', '441', '1000', '372', '62', '56-33', '90-28', '340', '19-21', '151', '1275', '96', '441', '115', '1455', '1000', '1315', '441', '95-05', '9', '151', '747', '102', '96-05', '13650', '1249', '110', '1345', '325', '52', '1734', '200', '246', '200', '1735', '151', '441', '25', '151', '441', '5400', '151', '674', '9605', '200', '130', '1745', '830', '96-05', '441', '151', '2307', '2307', '340', '20', '8844', '441', '441', '1441', '2307', '441', '1111', '429', '241', '200', '37', '1000', '1515', '26', '64-21', '136-50', '267', '325', '333', '245', '1160', '425', '2855', '2680', '135', '151', '102-50', '1809', '1694', '997', '540', '331', '1317', '1317', '240', '361', '90-15', '420', '420', '32-52', '9605', '2307', '200', '151', '441', '441', '441', '422', '42-22', '70', '441', '37-11', '2976', '595', '611', '135', '286', '118', '96-05', '85', '2926', '200', '680', '441', '300', '43', '250', '383', '568', '105', '441', '17', '441', '136-50', '725', '349', '296', '96-05', '242', '441', '441', '102-01', '130', '200', '17', '151', '2307', '542', '441', '14', '90-15', '136-50', '49', '136-50', '441', '1441', '136-50', '40', '96-05', '136-50', '136-50', '90-15', '441', '142', '560', '441', '1409', '136-50', '2175', '151', '441', '90-15', '8400', '441', '185', '441', '1750', '220', '176', '144-64', '335', '90-15', '1000', '1000', '200', '18', '2300', '441', '125', '605', '74', '50', '70-09', '1', '441', '136-50', '441', '136-50', '9605', '200', '130', '168', '320', '200', '310', '185', '242', '200', '40-12', '69', '447', '35', '346', '3025', '1', '38-48', '32', '607', '441', '281', '117', '461', '1790', '200', '143', '215', '851', '1559', '1740', '825', '136-32', '1221', '325', '560', '1000', '1634', '230', '1409', '215', '1945', '1945', '90', '441', '5805', '441', '1166', '451', '222', '200', '441', '1140', '70', '50', '441', '441', '1559', '1469', '441', '441', '23', '441', '1271', '133', '125', '40-24', '540', '1075', '680', '136-50', '136-50', '140-45', '29', '44-36', '600', '1970', '611', '425', '4020', '151', '375', '1', '869', '2770', '46', '37-55', '146', '441', '136-50', '441', '2110', '2110', '441', '50', '30', '50', '270-05', '441', '200', '441', '5804', '136-50', '441', '441', '50', '441', '150', '1700', '1700', '1000', '1991', '350', '441', '46', '136-40', '2655', '152-02', '339', '200', '1159', '2324', '441', '5480', '156', '2655', '441', '1441', '40', '136-50', '441', '154', '1', '404', '125', '441', '424', '151', '241', '441', '300', '380', '1118', '1441', '680', '11', '1065', '90-15', '44-14', '1875', '435', '405', '151', '450', '500', '441', '441', '930', '30', '151', '67', '7', '441', '151', '1402', '441', '1', '100', '40-22', '320', '405', '220', '250', '1410', '151', '401', '215', '441', '200', '151', '1441', '200', '40', '455', '139-66', '530', '715', '1409', '1118', '112', '250', '454', '1385', '277', '674', '765', '441', '441', '3503', '1409', '200', '4025', '1', '1', '441', '1441', '30', '1', '441', '10', '13', '441', '2654', '240', '1449', '951', '435', '441', '700', '441', '1118', '441', '200', '450', '441', '100', '441', '136-50', '2281', '2289', '919', '301', '120', '441', '441', '441', '251', '441', '136-20', '40-01', '60', '441', '111', '1221', '517', '156-17', '280', '277', '609', '500', '441', '308', '30', '1441', '441', '441', '445', '441', '19', '33-38', '200', '90-15', '382', '100', '200', '1744', '90', '4', '345', '2285', '2815', '441', '875', '609', '136-20', '10', '200', '441', '422', '559', '2', '441', '503', '45', '285', '86', '100', '2776', '336', '441', '145', '1251', '1839', '90-15', '180', '1275', '1', '1', '441', '1', '1710', '301', '11', '105', '53', '9', '234', '510', '180', '200', '10', '2655', '441', '489', '517', '400', '200', '441', '441', '100', '151', '1118', '100', '100', '30', '52', '1025', '450', '410', '200', '100', '103', '30', '4', '441', '99-31', '410', '30', '139', '281', '150', '100', '811', '99', '1118', '162-10', '100', '834', '1000', '1335', '2060', '360', '90-15', '200', '305', '535', '200', '151', '151', '1', '225', '151', '226', '555', '147', '150', '30', '151', '151', '101', '1580', '38', '1', '112', '112', '1536', '625', '517', '90-15', '441', '90-15', '22', '20', '112', '421', '1451', '825', '441', '65', '75-06', '41-90', '1515', '2310', '1330', '441', '55', '15', '19', '138', '1507', '3340', '222', '441', '270', '441', '4-3', '441', '140', '462', '2926', '1118', '2589', '154', '1514', '441', '609', '388', '442', '165', '441', '441', '112', '100', '200', '2', '140', '1', '2655', '1008', '138', '125', '2111', '571', '200', '66', '90-01', '535', '841', '50', '258-01', '1118', '5', '123', '10', '228', '441', '305', '422', '441', '1720', '5903', '517', '90-15', '112', '9015', '177', '90-01', '441', '210', '100', '165', '441', '627', '441', '41', '55', '344', '441', '605', '350', '1001', '3549', '85', '422', '1711', '1000', '441', '336', '872', '2550', '1', '112', '555', '50', '30', '200', '2589', '1', '45', '441', '441', '481', '243', '30', '160', '112', '555', '905', '245', '30', '5', '1075', '1000', '125-01', '422', '3905', '26-01', '168-46', '22', '851', '1305', '777', '61-27', '1909', '1118', '627', '1129', '85-11', '1243', '9015', '133', '225', '20', '281', '45-30', '1535', '104', '86', '71', '20', '193', '1048', '40', '109', '230', '540', '1235', '170', '130', '3030', '239', '345', '344', '430', '509', '86-20', '139', '541', '145', '350', '460', '200', '114', '392']

In [44]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list(zip(list_a, list_b)))

for x,y in list(zip(list_a, list_b)): 
    print (x)
    print (x*2)

[(1, 4), (2, 5), (3, 6)]
1
2
2
4
3
6

In [52]:
#Using list comprehension to merge two lists together
bad_places = [ num + "" + street for num, street in zip(house_numbers, street_names)]
print(bad_places)

['136-50ROOSEVELT AVENUE', '151WEST   34 STREET', '24118 AVENUE', '151WEST   34 STREET', '60EAST   54 STREET', '10307FLATLANDS AVENUE', '136-50ROOSEVELT AVENUE', '4525 AVENUE', '212EAST   47 STREET', '115LOGAN STREET', '200WEST   58 STREET', '842UNION STREET', '529WEST   20 STREET', '94EAST    1 STREET', '65OCEAN AVENUE', '125EAST   72 STREET', '151WEST   34 STREET', '2895BEDFORD AVENUE', '151WEST   34 STREET', '2655RICHMOND AVENUE', '3410DEREIMER AVENUE', '246WEST   44 STREET', '151WEST   34 STREET', '1439METROPOLITAN AVENUE', '271CONVENT AVENUE', '45BROADWAY', '5102AVENUE U', '151WEST   34 STREET', '136-50ROOSEVELT AVENUE', '4417 AVENUE', '112CENTRAL PARK SOUTH', '303EAST   57 STREET', '1401METROPOLITAN AVENUE', '136-50ROOSEVELT AVENUE', '136-50ROOSEVELT AVENUE', '136-50ROOSEVELT AVENUE', '216ROCKAWAY AVENUE', '136-50ROOSEVELT AVENUE', '39BROADWAY', '3041BROADWAY', '450FLUSHING AVENUE', '4417 AVENUE', '380COZINE AVENUE', '1BEACH  105 STREET', '32BROADWAY', '10COLUMBUS CIRCLE', '151WEST   34 STREET', '3340BAILEY AVENUE', '4417 AVENUE', '136-50ROOSEVELT AVENUE', '124-21FLATLANDS AVENUE', '1745BROADWAY', '34-0512 STREET', '868AMSTERDAM AVENUE', '6223 AVENUE', '274WEST   19 STREET', '12421FLATLANDS AVENUE', '4417 AVENUE', '1535BROADWAY', '139-0585 DRIVE', '2190MADISON AVENUE', '8305 AVENUE', '8305 AVENUE', '2307BEVERLY ROAD', '191SANDS STREET', '77PARK AVENUE', '575CASTLEHILL AVENUE', '4149KINGS HIGHWAY', '575CASTLEHILL AVENUE', '4417 AVENUE', '161-10JAMAICA AVENUE', '35EAST  176 STREET', '1439METROPOLITAN AVENUE', '1409METROPOLITAN AVENUE', '136-50ROOSEVELT AVENUE', '322EAST   57 STREET', '1409METROPOLITAN AVENUE', '4417 AVENUE', '8663 AVENUE', '151WEST   34 STREET', '20WEST   64 STREET', '2260BRONX PARK EAST', '2170MADISON AVENUE', '1735DAVIDSON AVENUE', '451WEST END AVENUE', '2655RICHMOND AVENUE', '40WASHINGTON STREET', '286EASTERN PARKWAY', '463WEST STREET', '151WEST   34 STREET', '136-50ROOSEVELT AVENUE', '332WEST   11 STREET', '1815DAVIDSON AVENUE', '1555ROCKAWAY PARKWAY', '136-50ROOSEVELT AVENUE', '530EAST  169 STREET', '1998BRUCKNER BOULEVARD', '2950WEST   33 STREET', '116WEST   23 STREET', '151WEST   34 STREET', '4IRVING PLACE', '151WEST   34 STREET', '370EAST  153 STREET', '2225LACOMBE AVENUE', '4417 AVENUE', '151WEST   34 STREET', '781WASHINGTON AVENUE', '151WEST   34 STREET', '135BEACH   19 STREET', '151WEST   34 STREET', '395SOUTH END AVENUE', '1830FIRST AVENUE', '157WEST   18 STREET', '53WARREN STREET', '4417 AVENUE', '1825EASTCHESTER ROAD', '136-50ROOSEVELT AVENUE', '21MAIDEN LANE', '200PARK AVENUE', '1889SEDGWICK AVENUE', '136-50ROOSEVELT AVENUE', '430WEST  125 STREET', '189ALLEN STREET', '4417 AVENUE', '1453 STREET', '1998BRUCKNER BOULEVARD', '151WEST   34 STREET', '151WEST   34 STREET', '367 AVENUE', '1420AMSTERDAM AVENUE', '1420AMSTERDAM AVENUE', '3250BROADWAY', '2187HOLLAND AVENUE', '96-05QUEENS BOULEVARD', '2307BEVERLY ROAD', '151WEST   34 STREET', '1411METROPOLITAN AVENUE', '1315AMSTERDAM AVENUE', '33BOWERY', '136-2038 AVENUE', '12COURT STREET', '341EAST   70 STREET', '200PARK AVENUE', '201WEST   77 STREET', '1455HARROD AVENUE', '29998 AVENUE', '13855 AVENUE', '1154WARD AVENUE', '4417 AVENUE', '4417 AVENUE', '4417 AVENUE', '1151EAST  229 STREET', '64WEST   35 STREET', '4417 AVENUE', '130PALMETTO STREET', '1PARK ROW', '4417 AVENUE', '215EAST  161 STREET', '177NAGLE AVENUE', '953DEKALB AVENUE', '65JEFFERSON STREET', '4417 AVENUE', '805 AVENUE', '270-0576 AVENUE', '459WEST   18 STREET', '132WEST   31 STREET', '214EAST   52 STREET', '5066 STREET', '15553 AVENUE', '1158BOYNTON AVENUE', '1BRYANT PARK', '25327 AVENUE', '260-19NASSAU BOULEVARD', '40-20BEACH CHANNEL DRIVE', '4417 AVENUE', '625ATLANTIC AVENUE', '5400AVENUE U', '2160MATTHEWS AVENUE', '200EAST  161 STREET', '1000SURF AVENUE', '491BERGEN STREET', '220EAST  115 STREET', '1451WASHINGTON AVENUE', '422FULTON STREET', '1170EAST  229 STREET', '589AMSTERDAM AVENUE', '67EAST   11 STREET', '2975WEST   33 STREET', '1000SURF AVENUE', '3050PARK AVENUE', '2655RICHMOND AVENUE', '4140DENMAN STREET', '22LEWIS AVENUE', '66-26METROPOLITAN AVENUE', '1000SURF AVENUE', '112RICHMOND HILL ROAD', '20EAST   23 STREET', '11EAST   30 STREET', '953DEKALB AVENUE', '90-15QUEENS BOULEVARD', '270WEST   39 STREET', '2999FREDERICK DOUGLAS BOULEVARD', '1992BROADWAY', '1970AMSTERDAM AVENUE', '159-26HARLEM RIVER DRIVE', '1010UNDERHILL AVENUE', '4417 AVENUE', '1409METROPOLITAN AVENUE', '15WEST    4 STREET', '136-50ROOSEVELT AVENUE', '46MADISON STREET', '300WEST  108 STREET', '428EAST  137 STREET', '156WEST  174 STREET', '65BROADWAY', '148LAFAYETTE STREET', '4417 AVENUE', '151547 STREET', '312EAST   95 STREET', '4417 AVENUE', '2655RICHMOND AVENUE', '90-15QUEENS BOULEVARD', '46EAST   91 STREET', '1100TELLER AVENUE', '1441METROPOLITAN AVENUE', '154BROOME STREET', '100CHURCH STREET', '29918 AVENUE', '25WEST   53 STREET', '360DUMONT AVENUE', '1734MADISON AVENUE', '2307BEVERLY ROAD', '1132EAST  229 STREET', '20CATHERINE SLIP', '40RICHMAN PLAZA', '136-50ROOSEVELT AVENUE', '190YORK STREET', '140BROADWAY', '83-60118 STREET', '151WEST   34 STREET', '5400AVENUE U', '466LEXINGTON AVENUE', '3419 AVENUE', '17BATTERY PLACE', '96-05QUEENS BOULEVARD', '4417 AVENUE', '153BRABANT STREET', '2375SOUTHERN BOULEVARD', '12416 AVENUE', '23-25BELL BOULEVARD', '32BROADWAY', '44WALL STREET', '130PALMETTO STREET', '2130MADISON AVENUE', '151WEST   34 STREET', '270MADISON AVENUE', '6996 AVENUE', '125MAIDEN LANE', '422FULTON STREET', '101HUMBOLT STREET', '36-17PARSONS BOULEVARD', '66-26METROPOLITAN AVENUE', '405EAST  105 STREET', '550RIVERSIDE DRIVE', '1409METROPOLITAN AVENUE', '151WEST   34 STREET', '151WEST   34 STREET', '309WEST   49 STREET', '160WATER STREET', '1135EAST  229 STREET', '2GOLD STREET', '4417 AVENUE', '4417 AVENUE', '1998BRUCKNER BOULEVARD', '225COOK STREET', '710HUNTS POINT AVENUE', '1409METROPOLITAN AVENUE', '760EAST  166 STREET', '136-50ROOSEVELT AVENUE', '1175EAST  229 STREET', '100CENTRE STREET', '265-3176 AVENUE', '4417 AVENUE', '151WEST   34 STREET', '420FULTON STREET', '799KENT AVENUE', '840COLUMBUS AVENUE', '2505OLINVILLE AVENUE', '1WEST   39 STREET', '132-3541 ROAD', '243WEST   42 STREET', '151WEST   34 STREET', '147FLATBUSH AVENUE EXTENSION', '1000SURF AVENUE', '109-2071 ROAD', '115WOOSTER STREET', '2395TIEBOUT AVENUE', '130EAST 68 STREET', '30-15NEWTOWN AVENUE', '4SOUTH STREET', '102WEST   80 STREET', '123WEST   13 STREET', '136-50ROOSEVELT AVENUE', '136-50ROOSEVELT AVENUE', '4417 AVENUE', '1000PELHAM PARKWAY', '372BROOME STREET', '62READE STREET', '56-33MAIN STREET', '90-28VAN WYCK EXPRESSWAY', '340EAST   23 STREET', '19-21BROOKHAVEN AVENUE', '151WEST   34 STREET', '1275LINDEN BOULEVARD', '96BOERUM PLACE', '4417 AVENUE', '115EAST   23 STREET', '1455HARROD AVENUE', '10005 AVENUE', '1315AMSTERDAM AVENUE', '4417 AVENUE', '95-05QUEENS BOULEVARD', '9WEST   35 STREET', '151WEST   34 STREET', '747EAST  168 STREET', '102NORTH END AVENUE', '96-05QUEENS BOULEVARD', '13650ROOSEVELT AVENUE', '12495 AVENUE', '110WEST   40 STREET', '13455 AVENUE', '325WEST   37 STREET', '5239 STREET', '1734MADISON AVENUE', '200CENTRAL PARK WEST', '246SPRING STREET', '200PARK AVENUE', '1735MADISON AVENUE', '151WEST   34 STREET', '4417 AVENUE', '25CHURCH STREET', '151WEST   11 STREET', '4417 AVENUE', '5400AVENUE U', '151WEST   34 STREET', '674EAST  149 STREET', '9605QUEENS BOULEVARD', '200MURRAY STREET', '130LIBERTY STREET', '1745BROADWAY', '8305 AVENUE', '96-05QUEENS BOULEVARD', '4417 AVENUE', '151WEST   34 STREET', '2307BEVERLY ROAD', '2307BEVERLY ROAD', '340FROST STREET', '20EAST   35 STREET', '8844161 STREET', '4417 AVENUE', '4417 AVENUE', '1441METROPOLITAN AVENUE', '2307BEVERLY ROAD', '4417 AVENUE', '11116 AVENUE', '429DUMONT AVENUE', '241HOYT STREET', '200PARK AVENUE', '37NEW LOTS AVENUE', '1000SURF AVENUE', '1515BROADWAY', '26COURT STREET', '64-21BOOTH STREET', '136-50ROOSEVELT AVENUE', '267WEST   87 STREET', '325GOLD STREET', '333WEST   14 STREET', '24510 AVENUE', '1160EAST  229 STREET', '425EAST  105 STREET', '2855ST THERESA AVENUE', '26808 AVENUE', '135AMERSFORT PLACE', '151WEST   34 STREET', '102-5062 ROAD', '18093 AVENUE', '1694MADISON AVENUE', '997DEKALB AVENUE', '5401 AVENUE', '331EAST   29 STREET', '1317WEST FARMS ROAD', '1317WEST FARMS ROAD', '240PARK AVENUE SOUTH', '361LIVONIA AVENUE', '90-15QUEENS BOULEVARD', '420FULTON STREET', '420FULTON STREET', '32-52JONES WALK', '9605QUEENS BOULEVARD', '2307BEVERLY ROAD', '200WEST   24 STREET', '151WEST   34 STREET', '4417 AVENUE', '4417 AVENUE', '4417 AVENUE', '422FULTON STREET', '42-22KETCHAM STREET', '70LITTLE WEST STREET', '4417 AVENUE', '37-11MAIN STREET', '2976MARION AVENUE', '595MADISON AVENUE', '6115 AVENUE', '135WILLIAM STREET', '286SOUTH STREET', '118AVENUE D', '96-05QUEENS BOULEVARD', '85TAYLOR STREET', '2926WEST   25 STREET', '200PARK AVENUE', '6805 AVENUE', '4417 AVENUE', '300WEST  125 STREET', '43WEST   22 STREET', '250WEST   39 STREET', '383PULASKI STREET', '568PACIFIC STREET', '105HEWES STREET', '4417 AVENUE', '17STATE STREET', '4417 AVENUE', '136-50ROOSEVELT AVENUE', '725GARDEN STREET', '349SUYDAM STREET', '296DELANCY STREET', '96-05QUEENS BOULEVARD', '242WEST   38 STREET', '4417 AVENUE', '4417 AVENUE', '102-0166 ROAD', '130LIBERTY STREET', '200RECTOR PLACE', '17BATTERY PLACE', '151WEST   34 STREET', '2307BEVERLY ROAD', '542ROSEDALE AVENUE', '4417 AVENUE', '14JACKSON STREET', '90-15QUEENS BOULEVARD', '136-50ROOSEVELT AVENUE', '49CROWN STREET', '136-50ROOSEVELT AVENUE', '4417 AVENUE', '1441METROPOLITAN AVENUE', '136-50ROOSEVELT AVENUE', '40OCEANA DRIVE WEST', '96-05QUEENS BOULEVARD', '136-50ROOSEVELT AVENUE', '136-50ROOSEVELT AVENUE', '90-15QUEENS BOULEVARD', '4417 AVENUE', '142HENRY STREET', '5601 AVENUE', '4417 AVENUE', '1409METROPOLITAN AVENUE', '136-50ROOSEVELT AVENUE', '21751 AVENUE', '151WEST   34 STREET', '4417 AVENUE', '90-15QUEENS BOULEVARD', '8400SHORE FRONT PARKWAY', '4417 AVENUE', '185NEVINS STREET', '4417 AVENUE', '1750OCEAN PARKWAY', '220THROOP AVENUE', '176JOHNSON STREET', '144-64SANFORD AVENUE', '335SUTTER AVENUE', '90-15QUEENS BOULEVARD', '1000SURF AVENUE', '1000SURF AVENUE', '200PARK AVENUE', '18WEST HOUSTON STREET', '2300SOUTHERN BOULEVARD', '4417 AVENUE', '125EAST   50 STREET', '605WEST   48 STREET', '74WEST   92 STREET', '50EAST  102 STREET', '70-09AUSTIN STREET', '1IRVING PLACE', '4417 AVENUE', '136-50ROOSEVELT AVENUE', '4417 AVENUE', '136-50ROOSEVELT AVENUE', '9605QUEENS BOULEVARD', '200PARK AVENUE', '130EAST   39 STREET', '168HOOPER STREET', '3205 AVENUE', '200CENTRAL PARK WEST', '310WEST   38 STREET', '185WEST BROADWAY', '242WEST  104 STREET', '200PARK AVENUE', '40-1210 STREET', '69WEST  225 STREET', '4477 AVENUE', '35WEST    4 STREET', '346BROADWAY', '3025WEST   12 STREET', '1NATHAN D PERLMAN PLACE', '38-48RUTGERS STREET', '32BROADWAY', '607HUDSON STREET', '4417 AVENUE', '2811 AVENUE', '117WEST   90 STREET', '4618 AVENUE', '1790STORY AVENUE', '200PARK AVENUE', '143WEST   11 STREET', '215ALEXANDER AVENUE', '851GRAND CONCOURSE', '1559MADISON AVENUE', '1740BROADWAY', '8253 AVENUE', '136-32ROOSEVELT AVENUE', '12216 AVENUE', '325EAST  143 STREET', '560WEST  170 STREET', '1000SURF AVENUE', '1634ST MARKS AVENUE', '230WEST   54 STREET', '1409METROPOLITAN AVENUE', '215EAST  161 STREET', '1945AMSTERDAM AVENUE', '1945AMSTERDAM AVENUE', '90PINEHURST AVENUE', '4417 AVENUE', '58057 AVENUE', '4417 AVENUE', '11666 AVENUE', '451EAST  102 STREET', '222EAST   39 STREET', '200CPW', '4417 AVENUE', '1140CLAY AVENUE', '70CLYMER STREET', '50WEST   15 STREET', '4417 AVENUE', '4417 AVENUE', '1559MADISON AVENUE', '1469BROADWAY', '4417 AVENUE', '4417 AVENUE', '23WALTON STREET', '4417 AVENUE', '12716 AVENUE', '133WEST   90 STREET', '125WHITE STREET', '40-24COLLEGE POINT BOULEVARD', '5401 AVENUE', '1075EAST  179 STREET', '6805 AVENUE', '136-50ROOSEVELT AVENUE', '136-50ROOSEVELT AVENUE', '140-45ASH AVENUE', '29WEST   36 STREET', '44-36VERNON BOULEVARD', '6005 AVENUE', '1970EAST   18 STREET', '611CROTONA PARK NORTH', '425EAST   61 STREET', '4020BEACH CHANNEL DRIVE', '151WEST   34 STREET', '375PARK AVENUE', '1SMITH STREET', '869FLUSHING AVENUE', '2770FREDRICK DOUGLAS BOULEVARD', '46MADISON STREET', '37-5577 STREET', '146BEACH   59 STREET', '4417 AVENUE', '136-50ROOSEVELT AVENUE', '4417 AVENUE', '21108 AVENUE', '2110FREDRICK DOUGLAS BOULEVARD', '4417 AVENUE', '50AMSTERDAM AVENUE', '30BROAD STREET', '50AMSTERDAM AVENUE', '270-0576 AVENUE', '4417 AVENUE', '2005 AVENUE', '4417 AVENUE', '5804FARRAGUT ROAD', '136-50ROOSEVELT AVENUE', '4417 AVENUE', '4417 AVENUE', '50AVENUE D', '4417 AVENUE', '150ALBANY AVENUE', '1700BEDFORD AVENUE', '1700BEDFORD AVENUE', '1000SURF AVENUE', '1991BROADWAY', '350PARK AVENUE', '4417 AVENUE', '46MADISON STREET', '136-40ROOSEVELT AVENUE', '2655RICHMOND AVENUE', '152-02JAMAICA AVENUE', '339WEST   36 STREET', '200PARK AVENUE', '1159229 DRIVE NORTH', '2324PAULDING AVENUE', '4417 AVENUE', '5480BROADWAY', '156MYRTLE AVENUE', '2655RICHMOND AVENUE', '4417 AVENUE', '1441METROPOLITAN AVENUE', '40WEST    4 STREET', '136-50ROOSEVELT AVENUE', '4417 AVENUE', '154WEST 14 STREET', '1EDGEWATER PLAZA', '404EAST  105 STREET', '125NOSTRAND AVENUE', '4417 AVENUE', '4245 AVENUE', '151WEST 34 STREET', '241WEST   37 STREET', '4417 AVENUE', '300WEST  125 STREET', '380MADISON AVENUE', '1118GRAND CONCOURSE', '1441METROPOLITAN AVENUE', '680TINTON AVENUE', '11WEST   36 STREET', '10656 AVENUE', '90-15QUEENS BOULEVARD', '44-14PARSONS BOULEVARD', '18753 AVENUE', '435EAST   83 STREET', '405EAST  105 STREET', '151WEST   34 STREET', '450WEST   33 STREET', '5007 AVENUE', '4417 AVENUE', '4417 AVENUE', '930EAST    4 WALK', '30ROCKEFELLER PLAZA', '151WEST 34 STREET', '67PARK AVENUE', '7EAST 57 STREET', '4417 AVENUE', '151WEST 34 STREET', '1402AVENUE K', '4417 AVENUE', '1TIMES SQUARE', '100WEST 33 STREET', '40-22COLLEGE POINT BOULEVARD', '320MORRIS AVENUE', '405WEST   23 STREET', '220EAST  115 STREET', '250EAST   49 STREET', '1410BROADWAY', '151WEST 34 STREET', '401EAST   30 STREET', '215EAST 161 STREET', '4417 AVENUE', '200PARK AVENUE', '151WEST 34 STREET', '1441METROPOLITAN AVENUE', '200CENTRAL PARK WEST', '40WEST 25 STREET', '455NORTH END AVENUE', '139-6635 AVENUE', '5301 AVENUE', '715BROADWAY', '1409METROPOLITAN AVENUE', '1118GRANDCONCOURSE', '112RICHMOND HILL ROAD', '250CLINTON STREET', '454EAST  105 STREET', '13855 AVENUE', '277PARK AVENUE', '674EAST  149 STREET', '765EAST  163 STREET', '4417 AVENUE', '4417 AVENUE', '3503FOSTER AVENUE', '1409METROPOLITAN AVENUE', '200PARK AVENUE', '4025COLLEGE POINT BOULEVARD', '1TIMES SQUARE', '1ROCKEFELLER PLAZA', '4417 AVENUE', '1441METROPOLITAN AVENUE', '30ROCKEFELLER PLAZA', '1PENN PLAZA', '4417 AVENUE', '10COLUMBUS CIRCLE', '13WEST 27 STREET', '4417 AVENUE', '26548 AVENUE', '240WEST   65 STREET', '1449METROPOLITAN AVENUE', '951WOODYCREST AVENUE', '435EAST 105 STREET', '4417 AVENUE', '700EAST  156 STREET', '4417 AVENUE', '1118GRANDCONCOURSE', '4417 AVENUE', '200PARK AVENUE', '450WEST   33 STREET', '4417 AVENUE', '100WEST 33 STREET', '4417 AVENUE', '136-50ROOSEVELT AVENUE', '2281BROADWAY', '2289BROADWAY', '9193 AVENUE', '301PARK AVENUE', '120WEST   91 STREET', '4417 AVENUE', '4417 AVENUE', '4417 AVENUE', '251MERCER STREET', '4417 AVENUE', '136-20ROOSEVELT AVENUE', '40-0143 AVENUE', '60WEST   34 STREET', '4417 AVENUE', '111CENTRE STREET', '12216 AVENUE', '517EAST 117 STREET', '156-1771 AVENUE', '280BROADWAY', '277PARK AVENUE', '6095 AVENUE', '500LEXINGTON AVENUE', '4417 AVENUE', '308SUTTER AVENUE', '30ROCKEFELLER PLAZA', '1441METROPOLITAN AVENUE', '4417 AVENUE', '4417 AVENUE', '445LENOX ROAD', '4417 AVENUE', '19BEEKMAN STREET', '33-38PARSONS BOULEVARD', '200PARK AVENUE', '90-15QUEENS BOULEVARD', '3823 AVENUE', '100CENTRE STREET', '200PARK AVENUE', '1744CLAY AVENUE', '90AVENUE D', '4NEW YORK PLAZA', '345ADAMS STREET', '2285BRAGG STREET', '2815ATLANTIC AVENUE', '4417 AVENUE', '8753 AVENUE', '6095 AVENUE', '136-20ROOSEVELT AVENUE', '10COLUMBUS CIRCLE', '200EAST 59 STREET', '4417 AVENUE', '422FULTON STREET', '559ROCKAWAY PARKWAY', '2EAST 55 STREET', '4417 AVENUE', '503FULTON STREET', '45RIVINGTON STREET', '285MADISON AVENUE', '86FLEET PLACE', '100COLUMBUS AVENUE', '2776JEROME AVENUE', '336EAST 81 STREET', '4417 AVENUE', '145WEST 44 STREET', '12516 AVENUE', '1839UNIVERSITY AVENUE', '90-15QUEENS BOULEVARD', '180LUDLOW STREET', '1275LINDEN BOULEVARD', '1EAST 33 STREET', '1CENTRE STREET', '4417 AVENUE', '1PENN PLAZA', '1710RANDALL AVENUE', '301PARK AVENUE', '11METROTECH CENTER', '105CASSIDY PLACE', '53WEST 53 STREET', '9WEST 53 STREET', '234WEST 42 STREET', '510WEST 46 STREET', '180WEST 20 STREET', '200PARK AVENUE', '10ROCKEFELLER PLAZA', '2655RICHMOND AVENUE', '4417 AVENUE', '4895 AVENUE', '517EAST 117 STREET', '400WEST 12 STREET', '200PARK AVENUE', '4417 AVENUE', '4417 AVENUE', '100WEST 33 STREET', '151WEST 34 STREET', '1118GRAND CONCOURSE', '100WEST 33 STREET', '100WEST 33 STREET', '30ROCKEFELLER PLAZA', '52WILLIAM STREET', '1025BOARDWALK', '450DEKALB AVENUE', '410STATE STREET', '200PARK AVENUE', '100CENTRE STREET', '103PRINCE STREET', '30ROCKEFELLER PLAZA', '4SOUTH STREET', '4417 AVENUE', '99-3166 AVENUE', '410WESTCHESTER AVENUE', '30WASHINGTON PLACE', '139FLATBUSH AVENUE', '281EAST 143 STREET', '150WEST 65 STREET', '100WEST 33 STREET', '8117 AVENUE', '99PARK AVENUE', '1118GRAND CONCOURSE', '162-10JAMAICA AVENUE', '100WEST 33 STREET', '834SURF AVENUE', '1000SURF AVENUE', '13356 AVENUE', '20603 AVENUE', '360ADAMS STREET', '90-15QUEENS BOULEVARD', '200PARK AVENUE', '305EAST 80 STREET', '535JACKSON AVENUE', '200PARK AVENUE', '151WEST 34 STREET', '151WEST 34 STREET', '1TIMES SQUARE', '225EAST 70 STREET', '151WEST 34 STREET', '226WEST 52 STREET', '555WEST 57 STREET', '147GREEN STREET', '15074 STREET', '30ROCKEFELLER PLAZA', '151WEST 34 STREET', '151WEST 34 STREET', '101EAST 14 STREET', '1580EAST 19 STREET', '38EAST 30 STREET', '1WEST 57 STREET', '112WEST 34 STREET', '112WEST 34 STREET', '1536LEXINGTON AVENUE', '625ATLANTIC AVENUE', '517EAST 117 STREET', '90-15QUEENS BOULEVARD', '4417 AVENUE', '90-15QUEENS BOULEVARD', '22CORTLANDT STREET', '20WEST 64 STREET', '112RICHMOND HILL ROAD', '4211 AVENUE', '1451BROADWAY', '8258 AVENUE', '4417 AVENUE', '65JEFFERSON STREET', '75-06WOODSIDE AVENUE', '41-90FRAME PLACE', '1515BROADWAY', '2310BROADWAY', '13301 AVENUE', '4417 AVENUE', '55WATER STREET', '15WEST 56 STREET', '19SUTTON PLACE', '1386 AVENUE', '1507BROADWAY', '3340BAILEY AVENUE', '222BROADWAY', '4417 AVENUE', '270WEST 45 STREET', '4417 AVENUE', '4-3ASTORIA BOULEVARD', '4417 AVENUE', '140BEACH 112 STREET', '4627 AVENUE', '2926WEST 25 STREET', '1118GRAND CONCOURSE', '2589RICHMOND AVENUE', '154EAST 53 STREET', '1514BROADWAY', '4417 AVENUE', '6095 AVENUE', '388EAST 141 STREET', '442COLUMBIA STREET', '165MANHATTAN AVENUE', '4417 AVENUE', '4417 AVENUE', '112RICHMOND HILL ROAD', '100COLUMBUS AVENUE', '200PARK AVENUE', '2UN PLAZA', '140WEST 65 STREET', '1TEST STREET', '2655RICHMOND AVENUE', '1008ST MARKS AVENUE', '138WEST 54 STREET', '125TAYLOR STREET', '2111LAFONTAINE AVENUE', '5715 AVENUE', '200WEST 131 STREET', '66AINSLIE STREET', '90-01QUEENS BOULEVARD', '5355 AVENUE', '841UNION STREET', '50BROADWAY', '258-01UNION TURNPIKE', '1118GRAND CONCOURSE', '5MADISON AVENUE', '123WEST 44 STREET', '10COLUMBUS CIRCLE', '228WEST 47 STREET', '4417 AVENUE', '305WEST 39 STREET', '422FULTON STREET', '4417 AVENUE', '1720BEDFORD AVENUE', '5903GLENWOOD ROAD', '517EAST 117 STREET', '90-15QUEENS BOULEVARD', '112RICHMOND HILL ROAD', '9015QUEENS BOULEVARD', '177FT WASHINGTON AVENUE', '90-01QUEENS BOULEVARD', '4417 AVENUE', '210WEST 230 STREET', '100WEST 33 STREET', '165MANHATTAN AVENUE', '4417 AVENUE', '627WEST 165 STREET', '4417 AVENUE', '41CROSBY STREET', '55EAST 99 STREET', '344EAST 28 STREET', '4417 AVENUE', '605WEST 129 STREET', '3505 AVENUE', '1001BOARDWALK', '3549NOSTRAND AVENUE', '85WEST STREET', '422FULTON STREET', '1711LACOMBE AVENUE', '1000SURF AVENUE', '4417 AVENUE', '336FLATBUSH AVENUE EXTENSION', '872ASHFORD STREET', '2550WEBB AVENUE', '1WEST 57 STREET', '112RICHMOND HILL ROAD', '555WEST 57 STREET', '50WEST 30 STREET', '30ROCKEFELLER PLAZA', '200PA

In [55]:
from collections import Counter

In [60]:
worst_places = Counter(bad_places).most_common(5)
print(worst_places)

[('4417 AVENUE', 125), ('136-50ROOSEVELT AVENUE', 34), ('151WEST   34 STREET', 34), ('200PARK AVENUE', 22), ('90-15QUEENS BOULEVARD', 14)]